@model System.Data.DataTable
@using System.Data;
@{
    ViewData["Title"] = "Gestion des Profils";
    int idgroup = Convert.ToInt32(Session["idGroup"]);
}

<h5>Liste des comptes</h5>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="row">
    <div class="col-9">
        <form class="" id="searchForm" asp-action="Search" method="post">
            <div class="form-group has-search">
                <input class="form-control" id="searchTerm" type="text" name="searchTerm" placeholder="Rechercher..." onsubmit="return false;">
            </div>
        </form>
    </div>
    <div class="col-3 btn-group" role="group">
        <a href="" class="btn btn-primary">
            Ajouter
        </a>
    </div>
</div>

<table id="loansTable" class="table">
    <thead>
        <tr>
            <th>Matricule</th>
            <th>Nom & Prénoms</th>
            <th>Accès</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="resultsTable">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td class="border-bottom-0">@row[0]</td> b
                <td class="border-bottom-0">@Html.DisplayFor(modelItem => @row[3]) @Html.DisplayFor(modelItem => @row[4])</td>
                <td class="border-bottom-0">
                    @if (row[5]?.ToString() == "1")
                    {
                        <div class="d-flex align-items-center gap-2">
                            <span class="badge bg-danger rounded-3 fw-semibold">User</span>
                        </div>
                    }
                    else if (row[5]?.ToString() == "2")
                    {
                        <div class="d-flex align-items-center gap-2">
                            <span class="badge bg-secondary rounded-3 fw-semibold">Staff</span>
                        </div>
                    }
                    else if (row[5]?.ToString() == "100")
                    {
                        <div class="d-flex align-items-center gap-2">
                            <span class="badge bg-primary rounded-3 fw-semibold">RH</span>
                        </div>
                    }
                    else if (row[5]?.ToString() == "101")
                    {
                        <div class="d-flex align-items-center gap-2">
                            <span class="badge bg-success rounded-3 fw-semibold">Contrôleur</span>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex align-items-center gap-2">
                            <span class="badge bg-dark rounded-3 fw-semibold">N/A</span>
                        </div>
                    }
                </td>
                <td class="border-bottom-0">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Modifier
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Staff", "ChangeRole", "RHAdmin", new { role = 2, matricule = @row[0] }, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Admin Staffs", "ChangeRole", "RHAdmin", new { role = 100, matricule = @row[0] }, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Admin Accounts", "ChangeRole", "RHAdmin", new { role = 101, matricule = @row[0] }, new { @class = "dropdown-item" })</li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#searchTerm').on('input', function () {
            var searchTerm = $(this).val();
            var resultsTable = $('#resultsTable');

            if (searchTerm === '') {
                resultsTable.empty(); // Vider le tableau si la barre de recherche est vide
                return;
            }

            $.ajax({
                url: '@Url.Action("SearchAccounts", "RHAdmin")',
                type: 'POST',
                data: { searchTerm: searchTerm },
                success: function (data) {
                    resultsTable.empty();

                    if (data.length === 0) {
                        resultsTable.append('<tr><td colspan="5">Aucun résultat trouvé.</td></tr>');
                    }
                    else {
                        data.forEach(function (staff) {
                            var badgeClass = "";
                            var badgeLabel = "";

                            // Déterminez le badge à afficher en fonction de IDGroup
                            switch (staff["IDGroup"]) {
                                case 1:
                                    badgeClass = "bg-danger";
                                    badgeLabel = "User";
                                    break;
                                case 2:
                                    badgeClass = "bg-secondary";
                                    badgeLabel = "Staff";
                                    break;
                                case 100:
                                    badgeClass = "bg-primary";
                                    badgeLabel = "RH";
                                    break;
                                case 101:
                                    badgeClass = "bg-success";
                                    badgeLabel = "Contrôleur";
                                    break;
                                default:
                                    badgeClass = "bg-dark";
                                    badgeLabel = "N/A";
                                    break;
                    }

                        // Construisez la ligne du tableau
                        var row = '<tr>' +
                            '<td>' + staff.Matricule + '</td>' +
                            '<td>' + staff.Nom + " " + staff.Prenom + '</td>' +
                            '<td>' +
                            '<div class="d-flex align-items-center gap-2">' +
                            '<span class="badge ' + badgeClass + ' rounded-3 fw-semibold">' + badgeLabel + '</span>' +
                            '</div>' +
                            '</td>' +
                            '<td>' +
                            '<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">' +
                            'Modifier' +
                            '</button>' +
                            '<ul class="dropdown-menu">' +
                            '<li><a class="dropdown-item" href="/RHAdmin/ChangeRole?role=2&matricule='+staff.Matricule+'">Staff</a></li>' +
                                '<li><a class="dropdown-item" href="#">Admin Staffs</a></li>' +
                                '<li><a class="dropdown-item" href="#">Admin Accounts</a></li>' +
                            '</ul>' +
                            '</td>' +
                            '</tr>';
                        resultsTable.append(row);
                    });
                }
                },
                error: function () {
                    $('#resultsTable').html('<tr><td colspan="5">Une erreur s\'est produite lors de la recherche.</td></tr>');
                }
            });
        });
    });
    </script>
}