@model Dictionary<string, object>

@{
    ViewData["Title"] = "Demande de prêt";
    var staff = Model.ContainsKey("Staff") ? Model["Staff"] as Dictionary<string, object> : null;
    var simulationData = Model.ContainsKey("SimulationData") ? Model["SimulationData"] as dynamic : null;
}

<h2>Demande de prêt</h2>
<p>Vérifiez les informations complémentaires</p>
<h4>Informations sur la simulation</h4>
<div class="row">
    <div class="col">
        <p>Nom et Prénoms: <strong> @staff["Nomm"] @staff["Prenomm"] </strong> </p>
    </div>
    <div class="col">
        <p>Numéro de compte: <strong> @staff["NumeroComptee"] </strong> </p>
    </div>

</div>
<div class="row">
    <div class="col m-1">
        <p>Type de prêt: <strong> @simulationData.TypeDePret </strong> </p>
    </div>
    <div class="col m-1">
        <p>Taux annuel: <strong> @simulationData.AnnualRate % </strong> </p>
    </div>
    <div class="col m-1">
        <p>Montant: <strong> @simulationData.Montant F CFA </strong> </p>
    </div>
    <div class="col m-1">
        <p>Remboursement maximum mensuel admis: <strong> @simulationData.Remboursement F CFA </strong> </p>
    </div>
</div>

<div class="row">
    <div class="col m-1">
        <p>Durée (mois): <strong> @simulationData.Months </strong> </p>
    </div>
    <div class="col m-1">
        <p>Quotité: <strong> @simulationData.Quotity % </strong> </p>
    </div>
    <div class="col m-1">
        <p>Salaire net: <strong> @simulationData.NetSalary </strong> </p>
    </div>
    <div class="col m-1">
        <p>Matricule: <strong> @simulationData.Matricule </strong> </p>
    </div>
</div>

<h4>Entrez les informations complémentaires </h4>
<form id="" method="post">
    <div class="row">
        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" type="date" id="dateNaissance" name="dateNaissance" required>
                <label for="dateNaissance">Date de naissance :</label>
            </div>
        </div>

        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" type="date" id="dateDebut" name="dateDebut" required>
                <label for="dateDebut">Date d'entrée à ECOBANK-TOGO :</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 m-3">
            <div class="form-floating">
                <input class="form-control" type="text" id="ranking" name="ranking" required>
                <label for="ranking">Classe :</label>
            </div>
        </div>

        <div class="col-4 m-3">
            <div class="form-floating">
                <input class="form-control" type="text" id="grade" name="grade" required>
                <label for="grade">Grade :</label>
            </div>
        </div>
        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" value="@staff["Matriculee"]" type="number" id="matricule" name="matricule" readonly required>
                <label for="matricule">N° Matricule :</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-floating">
            <textarea class="form-control" id="notes" name="notes" style="height: 175px;">
    
            </textarea>
            <label for="notes">Notes Explicatives :</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">
        Envoyer
    </button>
</form>


<script>

    $(document).ready(function () {
        $('#submitRequest').on('submit', function () {
            sendRequest();
        });
    });

    $('#complementaryForm').on('submit', function(event) {
        event.preventDefault();

        var remboursement = @staff["SalaireNete"] * 40 / 100;

        var data = {
            nom: '@staff["Nomm"] @staff["Prenomm"]',
            Montant: '@simulationData.Montant',
            TypeDePret: '@simulationData.TypeDePret',
            annualRate: '@simulationData.AnnualRate',
            months: '@simulationData.Months',
            quotity: '@simulationData.Quotity',
            netSalary: '@simulationData.NetSalary',
            remboursement: remboursement,
            numeroCompte: '@staff["NumeroComptee"]',
            matricule: '@simulationData.Matricule',
            dateNaissance: $('#dateNaissance').val(),
            dateDebut: $('#dateDebut').val(),
            ranking: $('#ranking').val(),
            grade: $('#grade').val(),
            notes: $('#notes').val(),
        };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateDocument", "RHDemandeDePret")',
            data: data,
            success: function (response) {
                if (response.success) {
                    alert(response.message || 'Succès!');
                    window.location.href = response.redirectUrl;
                } else {
                    alert(response.message || 'Erreur!');
                }
            },
            error: function (xhr, status, error) {
                alert('Erreur de communication avec le serveur: ' + error);
            }
        });
    });

</script>