@model Dictionary<string, object>
@{
    ViewData["Title"] = "Demande de prêt";
    var staff = Model.ContainsKey("Staff") ? Model["Staff"] as Dictionary<string, object> : null;
    var simulationData = Model.ContainsKey("SimulationData") ? Model["SimulationData"] as dynamic : null;
}

<h2>Demande de prêt</h2>
<p>Vérifiez les informations complémentaires</p>
<h4>Informations sur la simulation</h4>
<div class="row">
    <div class="col">
        <p>Nom et Prénoms: <strong> @staff["Nomm"] @staff["Prenomm"] </strong> </p>
    </div>
    <div class="col">
        <p>Numéro de compte: <strong> @staff["NumeroComptee"] </strong> </p>
    </div>

</div>
<div class="row">
    <div class="col m-1">
        <p>Type de prêt: <strong> @simulationData.TypeDePret </strong> </p>
    </div>
    <div class="col m-1">
        <p>Taux annuel: <strong> @simulationData.AnnualRate % </strong> </p>
    </div>
    <div class="col m-1">
        <p>Montant: <strong> @simulationData.Montant F CFA </strong> </p>
    </div>
    <div class="col m-1">
        @*<p>Remboursement maximum mensuel admis: <strong> @simulationData.Remboursement F CFA </strong> </p>*@
    </div>
</div>

<div class="row">
    <div class="col m-1">
        <p>Durée (mois): <strong> @simulationData.Months </strong> </p>
    </div>
    <div class="col m-1">
        <p>Quotité: <strong> @simulationData.Quotity % </strong> </p>
    </div>
    <div class="col m-1">
        <p>Salaire net: <strong> @simulationData.NetSalary </strong> </p>
    </div>
    <div class="col m-1">
        <p>Matricule: <strong> @simulationData.Matricule </strong> </p>
    </div>
</div>


<h4>Entrez les informations complémentaires </h4>
<form id="" method="post">
    <div class="row">
        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" type="date" id="dateDebut" name="dateDebut" required>
                <label for="dateDebut">Date de naissance :</label>
            </div>
        </div>

        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" type="date" id="dateFin" name="dateFin" required>
                <label for="dateFin">Date d'entrée à ECOBANK-TOGO :</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 m-3">
            <div class="form-floating">
                <input class="form-control" type="text" id="annualRate" name="annualRate" step="0.01" readonly required>
                <label for="annualRate">Classe :</label>
            </div>
        </div>

        <div class="col-4 m-3">
            <div class="form-floating">
                <input class="form-control" type="text" id="months" name="months" required>
                <label for="months">Grade :</label>
            </div>
        </div>
        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" value="@staff["Matriculee"]" type="number" id="months" name="months" readonly required>
                <label for="months">N° Matricule :</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m-3">
            <div class="form-floating">
                <select id="TypeDePret" name="TypeDePret" class="form-select">
                    <option value="">Choisissez le type de prêt</option>
                    <option value="Prêt automobile" data-rate="3" data-months="60" data-amount="20000000">Prêt automobile</option>
                    <option value="Prêt Aménagement Habitat" data-rate="3" data-months="60" data-amount="15000000">Prêt Aménagement Habitat</option>
                    <option value="Aménagement gros oeuvres" data-rate="3" data-months="120" data-amount="40000000">Prêt Aménagement gros oeuvres</option>
                    <option value="Prêt immobilier" data-rate="3.5" data-months="180" data-amount="100000000">Prêt immobilier</option>
                </select>
                <label>Type de prêt</label>
            </div>
        </div>

        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" type="number" id="MontantEmprunte" name="MontantEmprunte" required>
                <label for="MontantEmprunte">Montant Emprunté (F CFA) :</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 m-3">
            <div class="form-floating">
                <input class="form-control" type="number" id="annualRate" name="annualRate" step="0.01" readonly required>
                <label for="annualRate">Taux d'Intérêt Annuel (%) :</label>
            </div>
        </div>

        <div class="col-4 m-3">
            <div class="form-floating">
                <input class="form-control" type="number" id="months" name="months" required>
                <label for="months">Durée du Prêt (Mois) :</label>
            </div>
        </div>
        <div class="col m-3">
            <p>
                <strong class="text-danger">Durée Maximale:  <span id="maxMonths"></span></strong>
            </p>
        </div>
    </div>


    <div class="row">
        <div class="form-floating">
            <textarea class="form-control" id="notes" name="notes" style="height: 175px;">
    
            </textarea>
            <label for="notes">Notes Explicatives :</label>
        </div>
    </div>
</form>