@model Dictionary<string, object>
@{
    ViewData["Title"] = "Demande de prêt";
    var staff = Model.ContainsKey("Staff") ? Model["Staff"] as Dictionary<string, object> : null;
    var simulationData = Model.ContainsKey("SimulationData") ? Model["SimulationData"] as dynamic : null;
}

<h2>Demande de prêt</h2>
<p>Vérifiez les informations complémentaires</p>
<h4>Informations sur la simulation</h4>
<div class="row">
    <div class="col">
        <p>Nom et Prénoms: <strong> @staff["Nomm"] @staff["Prenomm"] </strong> </p>
    </div>
    <div class="col">
        <p>Numéro de compte: <strong> @staff["NumeroComptee"] </strong> </p>
    </div>

</div>
<div class="row">
    <div class="col m-1">
        <p>Type de prêt: <strong> @simulationData.TypeDePret </strong> </p>
    </div>
    <div class="col m-1">
        <p>Taux annuel: <strong> @simulationData.AnnualRate % </strong> </p>
    </div>
    <div class="col m-1">
        <p>Montant: <strong> @string.Format("{0:N0}", @simulationData.Montant) F CFA </strong> </p>
    </div>
    <div class="col m-1">
        <p>Mensualités maximum: <strong>@string.Format("{0:N0}", @simulationData.Remboursement) F CFA </strong> </p>
    </div>
</div>

<div class="row">
    <div class="col m-1">
        <p>Durée (mois): <strong> @simulationData.Months </strong> </p>
    </div>
    <div class="col m-1">
        <p>Quotité: <strong> @simulationData.Quotity % </strong> </p>
    </div>
    <div class="col m-1">
        <p>Salaire net: <strong>@string.Format("{0:N0}", @simulationData.NetSalary) F CFA </strong> </p>
    </div>
    <div class="col m-1">
        <p>Matricule: <strong> @simulationData.Matricule </strong> </p>
    </div>
</div>

<h4>Entrez les informations complémentaires </h4>
<form id="complementaryForm" method="post">
    <div class="row">
        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" type="date" id="dateNaissance" name="dateNaissance" required>
                <label for="dateNaissance">Date de naissance :</label>
            </div>
        </div>

        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" type="date" id="dateDebut" name="dateDebut" required>
                <label for="dateDebut">Date d'entrée à ECOBANK-TOGO :</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 m-3">
            <div class="form-floating">
                <input class="form-control" type="text" id="ranking" name="ranking" required>
                <label for="ranking">Classe :</label>
            </div>
        </div>

        <div class="col-4 m-3">
            <div class="form-floating">
                <input class="form-control" type="text" id="grade" name="grade" required>
                <label for="grade">Grade :</label>
            </div>
        </div>
        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" value="@staff["Matriculee"]" type="number" id="matricule" name="matricule" readonly required>
                <label for="matricule">N° Matricule :</label>
            </div>
        </div>
    </div>

    <div class="row">
        <label for="notes">Notes Explicatives :</label>
        <div class="form-floating">
            <textarea class="form-control" id="notes" name="notes" style="height: 175px;">
    
            </textarea>
        </div>
    </div>

    <button type="button" onclick="sendRequest()" class="btn btn-primary mt-3">
        Envoyer
    </button>
</form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function sendRequest() {
        var remboursement = @staff?["SalaireNet"] * 40 / 100;

        var data = {
            Montant: @simulationData?.Montant,
            nom: '@staff?["Nom"] @staff?["Prenom"]',
            TypeDePret: '@simulationData?.TypeDePret',
            numeroCompte: '@staff?["NumeroCompte"]',
            annualRate: @simulationData?.AnnualRate,
            dateNaissance: $('#dateNaissance').val(),
            months: @simulationData?.Months,
            dateDebut: $('#dateDebut').val(),
            quotity: @simulationData?.Quotity,
            ranking: $('#ranking').val(),
            netSalary: @simulationData?.NetSalary,
            grade: $('#grade').val(),
            matricule: @simulationData?.Matricule,
            notes: $('#notes').val()
        };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateDocument", "RHDemandeDePret")',
            data: data,
            success: function (response) {
                if (response.success) {
                    alert(response.message || 'Succès!');
                    window.location.href = response.redirectUrl;
                } else {
                    alert(response.message || 'Erreur!');
                }
            },
            error: function (error) {
                alert('Erreur de communication avec le serveur: ' + error);
            }
        });
    }
    </script>