@model Dictionary<string, object>
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Demande de prêt";
    var staff = Model.ContainsKey("Staff") ? Model["Staff"] as Dictionary<string, object> : null;
    var simulationData = Model.ContainsKey("SimulationData") ? Model["SimulationData"] as dynamic : null;
    var prets = Model.ContainsKey("Prets") ? Model["Prets"] as List<Dictionary<string, object>> : null;
}

<h2>Demande de prêt</h2>
<p>Vérifiez les informations complémentaires</p>
<h4>Informations sur la simulation</h4>
<div class="row">
    <div class="col">
        <p>Nom et Prénoms: <strong> @staff["Nomm"] @staff["Prenomm"] </strong> </p>
    </div>
    <div class="col">
        <p>Numéro de compte: <strong> @staff["NumeroComptee"] </strong> </p>
    </div>

</div>
<div class="row">
    <div class="col m-1">
        <p>Type de prêt: <strong> @simulationData.TypeDePret </strong> </p>
    </div>
    <div class="col m-1">
        <p>Taux annuel: <strong> @simulationData.AnnualRate % </strong> </p>
    </div>
    <div class="col m-1">
        <p>Montant: <strong> @string.Format("{0:N0}", @simulationData.Montant) F CFA </strong> </p>
    </div>
    <div class="col m-1">
        <p>Mensualités maximum: <strong>@string.Format("{0:N0}", @simulationData.Remboursement) F CFA </strong> </p>
    </div>
</div>

<div class="row">
    <div class="col m-1">
        <p>Durée (mois): <strong> @simulationData.Months </strong> </p>
    </div>
    <div class="col m-1">
        <p>Quotité: <strong> @simulationData.Quotity % </strong> </p>
    </div>
    <div class="col m-1">
        <p>Salaire net: <strong>@string.Format("{0:N0}", @simulationData.NetSalary) F CFA </strong> </p>
    </div>
    <div class="col m-1">
        <p>Matricule: <strong> @simulationData.Matricule </strong> </p>
    </div>
</div>

<h4>Entrez les informations complémentaires </h4>
<form id="complementaryForm" method="post">
    <div class="row">
        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" type="date" id="dateNaissance" name="dateNaissance" required>
                <label for="dateNaissance">Date de naissance :</label>
            </div>
        </div>

        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" type="date" id="dateDebut" name="dateDebut" required>
                <label for="dateDebut">Date d'entrée à ECOBANK-TOGO :</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 m-3">
            <div class="form-floating">
                <input class="form-control" type="text" id="ranking" name="ranking" required>
                <label for="ranking">Classe :</label>
            </div>
        </div>

        <div class="col-4 m-3">
            <div class="form-floating">
                <input class="form-control" type="text" id="grade" name="grade" required>
                <label for="grade">Grade :</label>
            </div>
        </div>
        <div class="col m-3">
            <div class="form-floating">
                <input class="form-control" value="@staff["Matriculee"]" type="number" id="matricule" name="matricule" readonly required>
                <label for="matricule">N° Matricule :</label>
            </div>
        </div>
    </div>

    <div class="row">
        <label for="notes">Notes Explicatives :</label>
        <div class="form-floating">
            <textarea class="form-control" id="notes" name="notes" style="height: 175px;">
    
            </textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">
        Envoyer
    </button>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#complementaryForm').on('submit', function (event) {
                //event.preventDefault();

                var data = {
                    Montant: encodeURIComponent(@simulationData.Montant),
                    nom: encodeURIComponent('@staff["Nomm"] @staff["Prenomm"]'),
                    TypeDePret: encodeURIComponent('@simulationData.TypeDePret'),
                    numeroCompte: encodeURIComponent('@staff["NumeroComptee"]'),
                    annualRate: encodeURIComponent(@simulationData.AnnualRate),
                    dateNaissance: encodeURIComponent($('#dateNaissance').val()),
                    months: encodeURIComponent(@simulationData.Months),
                    dateDebut: encodeURIComponent($('#dateDebut').val()),
                    quotity: encodeURIComponent(@simulationData.Quotity),
                    ranking: encodeURIComponent($('#ranking').val()),
                    netSalary: encodeURIComponent(@simulationData.NetSalary),
                    grade: encodeURIComponent($('#grade').val()),
                    matricule: encodeURIComponent(@simulationData.Matricule),
                    notes: encodeURIComponent($('#notes').val()),
                    prets: @Html.Raw(JsonConvert.SerializeObject(@prets)),

                };

                console.log('Données soumises:', data);
                console.log('Prêts:', JSON.stringify(@Html.Raw(JsonConvert.SerializeObject(@prets))));

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GenerateDocument", "RHDemandeDePret")',
                    xhrFields: {
                        responseType: 'blob'  // Important pour gérer les blobs (fichiers)
                    },
                    data: data,
                    success: function (blob, status, xhr) {
                        // Crée un lien pour télécharger le fichier
                        var link = document.createElement('a');
                        var url = window.URL.createObjectURL(blob);
                        var fileName = xhr.getResponseHeader('Content-Disposition').split('filename=')[1].replace(/"/g, '');

                        // Télécharge automatiquement le fichier
                        link.href = url;
                        link.download = fileName;
                        document.body.appendChild(link);
                        link.click();
                        window.URL.revokeObjectURL(url);
                    },
                    error: function (error) {
                        console.error('Erreur de communication avec le serveur:', error); // Affiche l'objet complet dans la console
                        alert('Erreur de communication avec le serveur: ' + (error.responseText || error.statusText || 'Erreur inconnue'));
                    }
                });
            });
        });

    </script>
}