@model EcoService.Models.UserCreateViewModel

@{
    ViewData["Title"] = "Ajouter un Utilisateur";
}

<h2>Créer un Utilisateur</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@using (Html.BeginForm("Create", "RHAccounts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group m-3">
        <div class="form-floating">
            @Html.TextBoxFor(model => model.Matricule, new { @class = "form-control" })
            <label for="Matricule">Matricule</label>
            @Html.ValidationMessageFor(model => model.Matricule)
        </div>
    </div>

    <div class="form-group m-3">
        <div class="form-floating">
            @Html.TextBoxFor(model => model.Nom, new { @class = "form-control" })
            <label for="Nom">Nom</label>
            @Html.ValidationMessageFor(model => model.Nom)
        </div>
    </div>

    <div class="form-group m-3">
        <div class="form-floating">
            @Html.TextBoxFor(model => model.Prenom, new { @class = "form-control" })
            <label for="Prenom">Prénom</label>
            @Html.ValidationMessageFor(model => model.Prenom)
        </div>
    </div>

    <div class="form-group m-3">
        <div class="form-floating">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            <label for="Email">Email</label>
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="form-group m-3">
        <div class="form-floating">
            @Html.TextBoxFor(model => model.NumeroCompte, new { @class = "form-control" })
            <label for="NumeroCompte">Numero de Compte</label>
            @Html.ValidationMessageFor(model => model.NumeroCompte)
        </div>
    </div>

    <div class="form-group m-3">
        <div class="form-floating">
            @Html.DropDownListFor(model => model.RoleId, new SelectList(ViewBag.Roles, "Value", "Text"), "Sélectionnez un rôle", new { @class = "form-control" })
            <label for="RoleId">Rôle</label>
            @Html.ValidationMessageFor(model => model.RoleId)
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Créer</button>
}
