

<script type="text/javascript">

    function printContent(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }

</script>

@{
    ViewBag.Title = "Index";

    String Action = Request["action"];
    String startDate = Request["beginDate"];
    String endDate = Request["endDate"];



}


<div id="print" class="releve">
    <div><img src="logo_Ecobank.jpg" style="text-align:right" /></div>
    <h2>Relevé d'identité Bancaire </h2>


    <div class="col-sm-12"><h2>Intitulé du compte : @ViewData["CompteDesc"]</h2></div>

    <div class="col-sm-12"><h2>Code banque : @ViewData["codebank"] </h2></div>

    <div class="col-sm-12"><h2>Code Agence : @ViewData["codeguichet"] </h2></div>

    <div class="col-sm-12"><h2>Code Swift  : ECOCTGTG </h2></div>

    <div class="col-sm-12"><h2>Numéro de compte : @ViewData["NumCompte"] </h2></div>

    <div class="col-sm-12"><h2>Code Pays : @ViewData["codepays"] </h2></div>

    <div class="col-sm-12"><h2>Clé RIB: @ViewData["CleRib"] </h2></div>

    <div class="col-sm-12"><h2>Code IBAN:  @ViewData["codepays"]@ViewData["Rib"]</h2></label></div>

    </br>

    <p>
        Pour tous renseignements ou réclamations , veuillez joindre votre Service
        <br />
        Client à l'adresse suivante :
        •	Pour les particuliers : assist@ecobank.com
        •	Pour les entreprises : businessassist@ecobank.com

        <br />
        <strong>Merci de votre fidélité à ecobank</strong>
    </p>
    <p>
        Ecobank Togo
        20, Avenue Sylvanus Olympio, Lomé BP 3 302, Lomé
    </p>
    <br />
    <p>
        Tel : (228) 22 21 72 14   Fax : (228) 22 21 42 37 
        www.ecobank.com
    </p>
</div>
<button class="btn btn-round btn-success" onclick="printContent('print')">Imprimer</button>